:root {
   scroll-behavior: smooth;
 }
 
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 .main{
  position: relative;
 }
 .speak-section{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
 }
 .speak-section2{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
 }
 .speak-section p{
  font-size: 20px;
  text-align: center;
 }
.btn-speak{
  background-color: #FFD600 !important;
  border: none;
  color: black;
  padding: 15px 32px;
  width: 500px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  border-radius: 999px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 5px 0px 0px #004867;
  animation: btnanim 1s infinite;
}
/* Animate btn-speak like zoomin and out */
@keyframes btnanim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.btn-speak:hover{
  background-color: #FFD600 !important;
  color: black !important;
}
.small{
  width: 500px;
}